.clock {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: url(./image/clock.png);
  background-size: cover;
}
.clock::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #000;
  border: 3px solid #fff;
  z-index: 10;
  border-radius: 50%;
}
.hour, .minute, .second {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.hourSub {
  width: 10px;
  height: 150px;
  background-color: #ddd;
  border-radius: 6px;
}
.minuteSub {
  width: 6px;
  height: 200px;
  background-color: #bbb;
  border-radius: 6px;
}
.secondSub {
  background-color: #fff;
  width: 2px;
  height: 300px;
  border-radius: 6px;
}