.clock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #555;
  background-image: url(./image/unnamed.jpg);
  background-size: cover;
}
.clock::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #000;
  border: 2px solid #fff;
  z-index: 10;
  border-radius: 50%;
}
.hour, .minute, .second {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hour {
  width: 200px;
  height: 200px;
}
.minute {
  width: 280px;
  height: 280px;
}
.second {
  width: 280px;
  height: 280px;
}
.hour::before {
  content: "";
  width: 10px;
  height: 100px;
  background-color: #000;
  z-index: 1;
  border-radius: 6px;
}
.minute::before {
  content: "";
  width: 6px;
  height: 140px;
  background-color: #555;
  z-index: 2;
  border-radius: 6px;
}
.second::before {
  content: "";
  width: 2px;
  height: 200px;
  background-color: #999;
  z-index: 3;
  border-radius: 6px;
}